/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
}

/* CORES BASE */
:root {
  --gradiente: linear-gradient(90deg, #833ab4, #fd1d1d, #fcb045);
  --roxo: #833ab4;
  --rosa: #fd1d1d;
  --laranja: #fcb045;
  --preto: #1a1a1a;
  --cinza: #555;
}



/* CABEÇALHO */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #fff;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-weight: 700;
  font-size: 1.3em;
  background: var(--gradiente);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu a {
  margin: 0 15px;
  text-decoration: none;
  color: var(--preto);
  font-weight: 500;
  transition: 0.3s;
}

.menu a:hover {
  color: var(--rosa);
}

.signin {
  background: var(--gradiente);
  color: white;
  padding: 8px 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
}